{lib_dirs, []}.
{sub_dirs, ["rel", "apps/reltest"]}.
{deps, [
  {uuid, ".*", {git, "https://github.com/avtobiff/erlang-uuid.git", "master"}},
  {sync, ".*", {git, "git://github.com/rustyio/sync.git", {branch, "master"}}},
  {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", {branch, "master"}}},
  {cowboy, ".*", {git, "https://github.com/ninenines/cowboy.git", {branch, "master"}}}
]}.
